<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Chat</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        html{
            width: 100%;
            height: 100%;
        }
        body {
            padding-top: 60px;
            height: 100%;
            width: 100%;
        }
        .nav-logo {
            height: 60px;
            width: 80px;
            margin-left: 10px;
        }
        .container-nav {
            display: flex;
            width: 100%;
            height: 60px;
            justify-content: flex-start;
            align-items: center;
        }
        form{
            width: 35%;
        }
        .search-box{
            display: flex;
            justify-content: center;
            align-content: center;
            margin: 0 auto;
            margin-top:30px;
            width: 100%;
            height: 40px;
        }
        .form-group{
            width: 100%;
            height: 40px;
            margin-right: 10px;
        }
        .form-control{
            height: 100%;
        }
        .container-main{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .check-box{
            margin-top: 20px;
        }
        .room-logo{
            width: 80px;
            height: 60px;
        }
        .user-logo{
            width: 60px;
            height: 60px;
        }
        .list-group{
            width: 40%;
        }
        .btn-sm{
            float: right;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-nav">
            <img src="../static/img/chat.png" class="nav-logo" alt="">
            <div class="menu">
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/room/myroom">Chatroom</a></li>
                    <li><a href="/search">Find</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% if current_user.is_authenticated == true%}
                            {{ current_user.username }}
                            {% else %}
                            Me
                            {% endif %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/setpassword">setting</a></li>
                            <li class="divider"></li>
                            <li><a href="/user/logout">logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-main">
        <form role="form" >
            <div class="search-box">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="search..." id="keyword">
                </div>
                <button type="button" class="btn btn-info btn-lg" id="search">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
                </button>
            </div>
        </form>
        <div class="check-box">
            <div class="radio-inline">
                <label>
                    <input type="radio" name="searchtype" id="user" value="user" checked> user
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="searchtype" id="room" value="room"> room
                </label>
            </div>
        </div>
        <div class="list-group" id="room-list" style="display:none;">
            
        </div>
        <div class="list-group" id="user-list" style="display:none;">
            
        </div>
    </div>
</body>
<script>
    
    $("#search").click(function(){
        var username = "{{ current_user.username }}";
        //alert(user);
        var type=$("input[name='searchtype']:checked").val();
        userlist=["user1","user2"];
        roomlist=["room1","room2"];
        var keyword = $("#keyword").val();
        if(type=='room'){
            $.ajax({
                type: 'POST',
                url: 'http://localhost:5000/search',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ keyword: keyword, type: type }),
                success: function (res) {
                    console.log(res);
                    if (res['response_code'] == 0) {
                        $("#user-list").css("display","none");
                        $("#room-list").css("display","unset");
                        $("#room-list").empty();
                        roomlist = res['roomlist'];
                        for(var i=0; i<roomlist.length;i++){
                            var room=document.createElement("a");
                            room.setAttribute("class","list-group-item");
                            room.setAttribute("href","#");
                            room.setAttribute("id",roomlist[i])
                            room.innerHTML="<img src='../static/img/room-logo.png' class='room-logo'>" +
                                roomlist[i] +
                                "<button type='button' class='btn btn-info btn-sm join-room'><span class='glyphicon glyphicon-log-in'></span> Join</button>";
                            $("#room-list").append(room);
                        }
                        $(".join-room").click(function(){ 
                            var room_name = $(this).parent().attr("id");
                            //alert(room_name);
                            $.ajax({
                                type: 'POST',
                                url: 'http://localhost:5000/room/join',
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                data: JSON.stringify({ roomname: room_name, username: user }),
                                success: function (res) {
                                    console.log(res);
                                    if (res['response_code'] == 0) { //join a room
                                        alert("Join a new room!");
                                        window.location.href = '/home?room=' + room_name;
                                    }
                                    else if(res['response_code'] == 1){ //already in room?
                                        window.location.href = '/home?room=' + room_name;
                                    }
                                    else{
                                        alert("Error!");
                                    }
                                }
                            })    
                        })
                    }
                    else{
                        alert("Search Error!");
                    }
                }
            })
        }
        else{
            $.ajax({
                type: 'POST',
                url: 'http://localhost:5000/search',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ keyword: keyword, type: type }),
                success: function (res) {
                    console.log(res);
                    if (res['response_code'] == 0) {
                        $("#room-list").css("display","none");
                        $("#user-list").css("display","unset");
                        $("#user-list").empty();
                        userlist = res['userlist'];
                        for(var i = 0; i < userlist.length; i++){
                            var user = document.createElement("a");
                            user.setAttribute("class","list-group-item");
                            user.setAttribute("href","#");
                            user.setAttribute("id",userlist[i])
                            user.innerHTML = "<img src='../static/img/user.png' class='user-logo'>" +
                                userlist[i] +
                                "<button type='button' class='btn btn-info btn-sm join-room'><span class='glyphicon glyphicon-send'></span> Chat</button>";
                            $("#user-list").append(user);
                        }
                        $(".join-room").click(function(){ 
                            var other_name = $(this).parent().attr("id");
                            if(other_name > username){
                                room_name = username + "&" + other_name;
                            }
                            else{
                                room_name = other_name + "&" + username;
                            }
                            alert(room_name);
                            $.ajax({
                                type: 'POST',
                                url: 'http://localhost:5000/room/create_chat',
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                data: JSON.stringify({ roomname: room_name, othername: other_name }),
                                success: function (res) {
                                    if (res['response_code'] == 0) { //join a room
                                        alert("create a new chat!");
                                        window.location.href = '/home?room=[P]' + room_name;
                                    }
                                    else if(res['response_code'] == 1){ //already has the room?
                                        window.location.href = '/home?room=[P]' + room_name;
                                    }
                                    else{
                                        alert("Error!");
                                    }
                                }
                            })    
                        })
                    }
                    else{
                        alert("Search Error!");
                    }
                }
            })
        }
    });
    
    $(".search-box").keydown(function(e) {
        if(e.keyCode=='13') {
            $("#search").click();
        }
    })
</script>
</html>