<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Chat</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        html{
            width: 100%;
            height: 100%;
        }
        body {
            padding-top: 60px;
            height: 100%;
            width: 100%;
        }
        .nav-logo {
            height: 60px;
            width: 80px;
            margin-left: 10px;
        }
        .container-nav {
            display: flex;
            width: 100%;
            height: 60px;
            justify-content: flex-start;
            align-items: center;
        }
        .sidebar{
            border: 1px solid;
            border-color: lightgray;
            border-radius: 5px;
            box-shadow: 1px 1px 1px gray;
            height: 100%;
        }
        .chat-panel{
            height: 100%;
            display: flex;
            flex-direction: column;
            border: 1px solid;
            border-color: lightgray;
            border-radius: 5px;
            box-shadow: 1px 1px 1px gray;
        }
        .room-info{
            height: 10%;    
            border: 1px solid;
            border-color: lightgray;
        }
        .room-msg{
            display: flex;
            flex-direction: column;
            height: 70%;
            border: 1px solid;
            border-color: lightgray;
            overflow-y: scroll;
        }
        .my-msg{
            align-self: flex-end;
        }
        .others-msg{
            align-self: flex-start;
        }
        .room-inputbox{
            height: 20%;
            border: 1px solid;
            border-color: lightgray;
            overflow-y: scroll;
        }
        .glyphicon-bell{
            visibility: visible;
            float: right;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-nav">
            <img src="../static/img/chat.png" class="nav-logo" alt="">
            <div class="menu">
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/room/myroom">Chatroom</a></li>
                    <li><a href="/search">Find</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% if current_user.is_authenticated == true%}
                            {{ current_user.username }}
                            {% else %}
                            Me
                            {% endif %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <!--li><a href="info.html">info</a></li-->
                            <li><a href="/setpassword">setting</a></li>
                            <li class="divider"></li>
                            <li><a href="/user/logout">logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="sidebar col-md-2">
        <div class="list-group" id="room-list">
            
        </div>
    </div>
    <div class="chat-panel col-md-10" style="visibility:hidden ">
        <div class="room-info">
            room info
        </div>
        <div class="room-msg">
            <p class="my-msg">mymsg</p>
            <p class="others-msg">others</p>
        </div>
        <div class="room-inputbox">
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="5" placeholder="please input your message"></textarea>
                </div>
            </form>
        </div>
            
    </div>
</body>
<script>
    var roomlist=[];
    var last_room_func=-1;
    var user="{{current_user.username}}";
    $(document).ready(function(){
        /*
        var room = document.createElement('a');
        room.setAttribute("class","list-group-item");
        room.setAttribute("href","#");
        room.setAttribute("id","[P]123")
        room.innerHTML = "123&czy" +
            "<span class='glyphicon glyphicon-bell'></span>";
        $("#room-list").append(room);
        //var room_old = $("#room-list").find("#123_czy");
        enterPage();
        */
        setInterval("check_update()",1000);
        //get roomlist
        $.ajax({
            type: 'POST',
            url: 'http://localhost:5000/user/roomlist',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ username: user }),
            success: function (res) {
                console.log(res);
                if (res['response_code'] == 0) {
                    roomlist = res['roomlist'];
                    for(var i = 0; i < roomlist.length; i++){
                        var room = document.createElement('a');
                        room.setAttribute("class","list-group-item");
                        room.setAttribute("href","#");
                        roomid = roomlist[i][0];
                        room.setAttribute("id",roomid)
                        room.innerHTML = roomlist[i][0] +
                            "<span class='glyphicon glyphicon-bell'></span>";
                        $("#room-list").append(room);
                    }

                    // if click the room, we should start pulling msg
                    $(".list-group-item").click(function(){
                        if(last_room_func != -1){
                            clearInterval(last_room_func); // stop other room pulling
                        }
                        
                        var room_name = this.text;
                        $(this).siblings().removeClass("active");
                        $(this).addClass("active");
                        $(this).find(".glyphicon-bell").css("visibility","hidden")

                        $(".chat-panel").css("visibility","visible")
                        $(".room-info").text(room_name)
                        $(".room-msg").empty();
                        //pretend to get room msg
                        /*
                        var msglist=['str1','str2','str3'];
                        for(var i=0; i<msglist.length;i++){
                            var msg=document.createElement("p");
                            msg.innerText=msglist[i];
                            msg.setAttribute("class","my-msg");
                            $(".room-msg").append(msg);
                        }
                        $(".room-msg").scrollTop($(".room-msg").height());
                        */
                        last_room_func = setInterval(get_room_msg,1000,room_name);
                    });
                    
                    // if visit the page with a param, deal with it 
                    enterPage();
        
                }
                else {
                    alert('roomlist error');
                }
            }
        })
        
    });

    function check_update(){
        $.ajax({
            type: 'POST',
            url: 'http://localhost:5000/user/roomlist',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ username: user}),
            success: function (res) {
                console.log(res);
                if (res['response_code'] == 0) {
                    var new_roomlist = res['roomlist'];
                    for(var i = 0; i < new_roomlist.length; i++){
                        var room_name = new_roomlist[i][0];
                        var old_update_time;
                        var room_exist = false;
                        for(var i = 0;i < roomlist.length;i++){
                            if(roomlist[i][0] == room_name){
                                old_update_time = roomlist[i][1];
                                room_exist = true;
                                break;
                            }
                        }
                        if(room_exist){ // the room already exists, check if it has new msg
                            var new_update_time = new_roomlist[i][1];
                            if(new_update_time != old_update_time){
                                room_old.find(".glyphicon-bell").css("visibility","visible")
                            }
                        }
                        else{ // this is a new room
                            var room=document.createElement("a");
                            room.setAttribute("class","list-group-item");
                            room.setAttribute("href","#");
                            room.setAttribute("id",room_name);
                            room.innerHTML=room_name + 
                                "<span class='glyphicon glyphicon-bell'></span>";
                            room.find(".glyphicon-bell").css("visibility","visible")
                            $("#room-list").append(room);
                        }
                    }
                    roomlist=new_roomlist;
                }
                else {
                    alert('msg error');
                }
            }
        })
    }

    function get_room_msg(room_name){
        //alert(room_name)
        $.ajax({
            type: 'POST',
            url: 'http://localhost:5000/room/msg',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ roomname: room_name }),
            success: function (res) {
                console.log(res);
                if (res['response_code'] == 0) {
                    $(".chat-panel").css("visibility","visible")
                    $(".room-info").text(room_name)
                    $(".room-msg").empty();
                    var msglist=res['msglist'];
                    if(msglist){
                        for(var i=0; i<msglist.length;i++){
                            var msg=document.createElement("p");
                            var msg_account=msglist[i]['account']
                            if(msg_account == user){ // my own msg
                                msg.setAttribute("class","my-msg");
                                msg.innerText=msglist[i]['msg']+":"+user;
                            }
                            else{ // others' msg
                                msg.setAttribute("class","others-msg")
                                msg.innerText=msg_account+":"+msglist[i]['msg'];
                            }
                            $(".room-msg").append(msg);
                        }
                        // set scroll to bottom
                        $(".room-msg").scrollTop($(".room-msg").height());
                    }
                }
                else {
                    alert('msg error');
                }
            }
        })
    }
    
    $('.room-inputbox').keydown(function(e) {
        
        if(e.keyCode=='13') {
            var msg=$('textarea').val();
            e.preventDefault();
            $('textarea').val('');
            var room_name;
            var roomlist=$("#room-list").children();
            // get room name
            for(var i=0; i<roomlist.length; i++){               
                if(roomlist[i].getAttribute("class").indexOf("active")>-1){
                    room_name=roomlist[i].innerText;
                }
            }
            //alert(room_name);
            // send message
            $.ajax({
                type: 'POST',
                url: 'http://localhost:5000/user/send',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ username: user, roomname: room_name, msg: msg }),
                success: function (res) {
                    console.log(res);
                    if (res['response_code'] == 0) {
                        
                    }
                    else {
                        alert('msg send error');
                    }
                }
            })
        }
    })
    
    function enterPage(){
        // if jump from other pages and need to highlight a specific room
        var Request = new Object();
        Request = GetRequest(); 
        var visit_room;
        visit_room = Request["room"];
        console.log(visit_room);
        var rooms = $("#room-list").children();
        for(var i = 0; i < rooms.length; i++){
            var room_item = rooms[i];
            var room_name = room_item.getAttribute("id");
            //console.log(room_name);
            if(visit_room == room_name){
                //console.log("click");
                room_item.click();
                break;
            }
        }
        //$("#"+visit_room).click();
    }

    function GetRequest() { 
        var url = location.search; //获取url中"?"符后的字串 
        var theRequest = new Object(); 
        if (url.indexOf("?") != -1) { 
            var str = url.substr(1); 
            strs = str.split(","); 
            for(var i = 0; i < strs.length; i ++) { 
                theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]); 
            } 
        } 
        return theRequest; 
    } 
</script>
</html>